body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #2d5783 0%, #f0f2f5 100%);
}

.navbar {
  background: hsl(209, 47%, 29%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar .logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: hsl(209, 62%, 61%);
}

.nav-links a.active {
  background: #f0f2f5;
  color: #000;
  padding: 6px 12px;
  border-radius: 6px;
}

.main-section {
  text-align: center;
  margin-top: 40px auto;
}

.profile-box,
.preview-box {
  background: white;
  width: 40%;
  margin: 20px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.profile-box input,
.profile-box textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.profile-box input:focus,
.profile-box textarea:focus {
  border-color: #2d5783;
}

.submit-btn {
  background: #1b3d61;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #315984;
}

.preview-box h2 {
  text-align: center;
}

footer {
  padding: 20px;
  background: hsl(209, 47%, 29%);
  text-align: center;
  color: white;
  margin-top: 40px;
}
