* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #382717 0%, #a39485 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

header p {
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-top: 10px;
}

.intro {
  max-width: 800px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.intro h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 15px;
}

.intro p {
  color: #f0f0f0;
  line-height: 1.6;
  font-size: 1.05rem;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 12px 24px;
  background-color: white;
  color: #333;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: #333;
  color: white;
  transform: translateY(-2px);
}

footer {
  margin-top: 50px;
  color: #000000;
  font-size: 0.9rem;
}
