body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4b4118 0%, #f0f2f5 100%);
  text-align: center;
}

.navbar {
  background: #584e1f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar .logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #b1a54b;
}

.nav-links a.active {
  background: #f0f2f5;
  color: #000000;
  padding: 6px 12px;
  border-radius: 6px;
}

header h1 {
  font-size: 2.4rem;
  color: #222;
  margin-top: 30px;
}

header p {
  color: #2b2911;
  font-size: 1rem;
  margin-bottom: 25px;
}

.search-bar input {
  padding: 10px 15px;
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  border: 1px solid #584e1f;
  font-size: 1rem;
  outline: none;
}

.internship-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  padding: 30px;
}

.internship-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: none;
}

.internship-card h3 {
  color: #2d2d2d;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.internship-card p {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 6px;
  line-height: 1.4;
}

.internship-card button {
  margin-top: 10px;
  padding: 8px 18px;
  background-color: #584e1f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.internship-card button:hover {
  background: #8a7930;
}

footer {
  background: #584e1f;
  color: white;
  padding: 18px;
  margin-top: 40px;
}
