body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4b4118 0%, #f0f2f5 100%);
}

.navbar {
  background: #584e1f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar .logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #b1a54b;
}

.nav-links a.active {
  background: #f0f2f5;
  color: #000000;
  padding: 6px 12px;
  border-radius: 6px;
}

.main-section {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

.main-section h1 {
  font-size: 32px;
  font-weight: 700;
}

.sub-text {
  font-size: 16px;
  margin-bottom: 30px;
  color: #2b2911;
}

.stats-box {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.stat-card {
  background: #fff;
  width: 230px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.stat-card h3 {
  font-size: 18px;
  color: #333;
}

.stat-card .value {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.recent-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.recent-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.recent-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pending {
  background-color: #c0a100;
}
.shortlisted {
  background-color: #1e8f3a;
}
.rejected {
  background-color: #c52828;
}

footer {
  padding: 20px;
  background: #584e1f;
  text-align: center;
  font-size: 14px;
  color: white;
  position: relative;
  bottom: 0;
}
